{% extends "base.html" %}


{% block page_title %} 
    {{room.name}}
{% endblock page_title %}

{%block content %} 

    <div class="container mx-auto w-10/12 pb-10">
        <div class="rounded-3xl h-40vh mt-32 mb-24 bg-cover bg-bottom" style="background-image:url(https://images.unsplash.com/photo-1576584042024-53cc68e8c8d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format);">
            
        </div>
            <div class="flex flex-wrap mb-10">
            {% for room in rooms %}
                {% include 'partials/room_card.html' with room=room %}
            {% endfor %} 
            </div>
        <div class="flex justify-center items-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            <span class="mx-3 font-medium"> {{page_obj.number}} of {{page_obj.paginator.num_pages}} </span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500"><i class="fas fa-arrow-right"></i></a>
            {% endif %} 
        </div>
    </div>
{% endblock content %}
